<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>reMind</title>
</head>
<body>

    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
   
    <div class="box">
        <% newListItems.forEach(item =>{ %>
            <form action="/delete" method="POST">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
                    <p> <%= item.name %></p>
                </div>
            </form>
        <% }) %>
  
   <form class="item" action="/" method="POST">
       <input placeholder="add new item" type="text" name="newItem" autocomplete="off">
       <button type="submit" name="list" value="<%= listTitle %>">+</button>
   </form>
</div>
</body>
</html>